

.timer progress{
    max-width: 110px;
    max-height: 9px;
    min-width: 50px;
    min-height: 6px;
    width: 9vw;
    height: 3vh;
    border-radius: 0px;
    color: aliceblue;
    position: relative;
    top:0.4vh;
    right: 15px;
}

.timer progress[value]{
    -webkit-appearance: none;
    appearance: none;

}
.timer progress[value]::-webkit-progress-bar {
    background-color:#091d29;
  }
.timer progress::-moz-progress-bar { 
    background:green; 
} 

/* For Chrome or Safari */ 
.timer progress::-webkit-progress-value { 
    background:green; 
} 

/* For IE10 */ 
.timer progress { 
    background: green; 
}  